<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.gilbut.domain.board.mapper.BoardMapper">

	<resultMap id="BoardResultMap" type="Board">
		<id property="id" column="board_id"/>
		<result property="title" column="board_title"/>
		<result property="content" column="board_content"/>
		<result property="hit" column="board_hit"/>
		<result property="created_at" column="board_created_at"/>
		<result property="updated_at" column="board_updated_at"/>

		<!-- User 매핑 -->
		<association property="user" javaType="User">
			<id property="id" column="user_id"/>
			<result property="loginId" column="user_login_id"/>
			<result property="nickname" column="user_nickname"/>
			<result property="email" column="user_email"/>
		</association>

		<!-- Travel 매핑 -->
		<association property="travel" javaType="Travel">
			<id property="id" column="travel_id"/>
			<result property="title" column="travel_title" />
			<result property="content" column="travel_content"/>
			<result property="startDate" column="start_date"/>


			<!-- Plans 관련 매핑 -->
			<collection property="plans" javaType="Plan">
				<id property="id" column="plan_id"/>
				<result property="sequence" column="plan_sequence"/>

				<!-- Attraction 관련 매핑 -->
				<association property="attraction" javaType="Attraction">
					<id property="id" column="attraction_id"/>
					<result property="title" column="attraction_name"/>
					<result property="contentTypeId" column="attraction_content_type_id"/>

					<result property="areaCode" column="attraction_area_code"/>
					<result property="siGunGuCode" column="attraction_si_gun_gu_code"/>

					<result property="latitude" column="attraction_latitude"/>
					<result property="longitude" column="attraction_longitude"/>

					<result property="firstImage1" column="attraction_first_image1"/>
					<result property="firstImage2" column="attraction_first_image2"/>


				</association>

				<!-- Course 관련 매핑 -->
				<association property="course" javaType="Course">
					<id property="id" column="course_id"/>
					<result property="name" column="course_name"/>
					<result property="dist" column="course_dist"/>
					<result property="turnaround" column="course_turnaround"/>
					<result property="level" column="course_level"/>
				</association>
			</collection>
		</association>

		<!-- Comments 관련 매핑 -->
		<collection property="comments" javaType="Comment">
			<id property="id" column="comment_id"/>
			<result property="content" column="comment_content"/>
			<result property="createdAt" column="comment_created_at"/>
			<result property="updatedAt" column="comment_updated_at"/>
			<association property="user" javaType="User">
				<id property="id" column="comment_user_id"/>
				<result property="loginId" column="comment_user_login_id"/>
				<result property="nickname" column="comment_user_nickname"/>
			</association>
		</collection>

		<!-- FileInfo 리스트 매핑 -->
		<collection property="fileInfos" javaType="FileInfo">
			<id property="id" column="file_id"/>
			<result property="saveFolder" column="file_info_save_folder"/>
			<result property="originalFile" column="file_info_original_file"/>
			<result property="saveFile" column="file_info_save_file"/>
		</collection>
	</resultMap>

	<resultMap id="fileInfoResultMap" type="FileInfo">
		<collection property="fileInfos" javaType="FileInfo">
			<id property="id" column="file_id"/>
			<result property="saveFolder" column="file_info_save_folder"/>
			<result property="originalFile" column="file_info_original_file"/>
			<result property="saveFile" column="file_info_save_file"/>
		</collection>
	</resultMap>

						<!-- SELECT -->
	<select id="listArticle" resultMap="BoardResultMap">
		select
		    <include refid="boardColumns" />
		FROM boards b
		<include refid="boardJoins" />
		<include refid="pagination" />
	</select>

	<select id="getTotalArticleCount" resultType="int">
		select count(id)
		FROM boards
	</select>

	<select id="getArticle" resultMap="BoardResultMap">
		SELECT
			<include refid="boardColumns" />
		FROM boards b
			<include refid="boardJoins" />
		WHERE b.id = #{boardId}
	</select>

					<!-- INSERT -->
	<insert id="writeArticle" parameterType="com.ssafy.gilbut.domain.board.model.dto.BoardRequest$CreateDTO">
		insert into boards (user_id, travel_id,title, content, hit, created_at)
		values (#{userId}, #{dto.travelId}, #{dto.title}, #{dto.content}, 0, now())
	</insert>
	
	<insert id="registerFiles" parameterType="com.ssafy.gilbut.domain.board.model.dto.BoardRequest$FileCreateDTO">
		insert into file_infos (board_id, save_folder, original_file, save_file)
		values
		<foreach collection="dto" item="fileinfo" separator=" , ">
			(#{fileinfo.boardId}, #{fileinfo.saveFolder}, #{fileinfo.originalFile}, #{fileinfo.saveFile})
		</foreach>
	</insert>

	<insert id="registerFile" parameterType="com.ssafy.gilbut.domain.board.model.dto.BoardRequest$FileCreateDTO">
		insert into file_infos (board_id, save_folder, original_file, save_file)
		value
		(#{dto.boardId}, #{dto.saveFolder}, #{dto.originalFile}, #{dto.saveFile})

	</insert>

	<update id="updateHit" parameterType="long">
		update boards
		set hit = hit + 1
		where id = #{boardId}
	</update>
	
	<update id="modifyArticle" parameterType="com.ssafy.gilbut.domain.board.model.dto.BoardRequest$UpdateDTO">
		update boards
		set title = #{dto.title}, content = #{dto.content}
		where id = #{boardId}
	</update>
	
	<delete id="deleteFile" parameterType="int">
		delete from file_infos
		where id = #{boardId}
	</delete>
	
	<delete id="deleteArticle" parameterType="int">
		delete from boards
		where id = #{boardId}
	</delete>

	<!-- 공통으로 사용할 컬럼들을 SQL 태그로 정의 -->
	<sql id="boardColumns">
	b.id as board_id,
    b.title as board_title,
    b.content as board_content,
    b.hit as board_hit,
    b.created_at as board_created_at,
    b.updated_at as board_updated_at,

    u.id as user_id,
    u.login_id as user_login_id,
    u.nickname as user_nickname,
    u.email as user_email,

    t.id as travel_id,
    t.title as travel_title,
    t.content as travel_content,
    t.start_date,

    p.id as plan_id,
    p.travel_id as plan_travel_id,
    p.sequence as plan_sequence,

    a.id as attraction_id,
    a.title as attraction_name,
	a.content_type_id as attraction_content_type_id,
	a.area_code as attraction_area_code,
	a.si_gun_gu_code as attraction_si_gun_gu_code,
	a.latitude as attraction_latitude,
	a.longitude as attraction_longitude,
    a.first_image1 as attraction_first_image1,
    a.first_image2 as attraction_first_image2,

    c.id as course_id,
    c.name as course_name,
    c.dist as course_dist,
    c.turnaround as course_turnaround,
    c.level as course_level,

    f.id as file_id,
    f.save_folder as file_info_save_folder,
    f.original_file as file_info_original_file,
    f.save_file as file_info_save_file,

	co.id as comment_id,
	co.content as comment_content,
	co.created_at as comment_created_at,
	co.updated_at as comment_updated_at,

	co_u.id as comment_user_id,
	co_u.login_id as comment_user_login_id,
	co_u.nickname as comment_user_nickname
	</sql>

	<sql id="boardJoins">
	LEFT JOIN users u ON b.user_id = u.id
    LEFT JOIN travels t ON b.travel_id = t.id
    LEFT JOIN plans p ON t.id = p.travel_id
    LEFT JOIN attractions a ON p.attraction_id = a.id
    LEFT JOIN courses c ON p.course_id = c.id
	# 댓글 기능
	LEFT JOIN comments co ON co.board_id = b.id
	LEFT JOIN users co_u ON co_u.id = co.user_id

    LEFT JOIN file_infos f ON b.id = f.board_id
	</sql>

	<!-- 페이지네이션 -->
	<sql id="pagination">
		<if test="pageable.sort.sorted">
			<trim prefix="ORDER BY">
				<foreach item="order" collection="pageable.sort" separator=", ">
					#{order.property} #{order.direction}
				</foreach>
			</trim>
		</if>
		LIMIT #{pageable.offset}, #{pageable.pageSize}
	</sql>
</mapper>