<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.gilbut.domain.user.mapper.UserMapper">
    <insert id="register" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO users
            (login_id, password, email, nickname, role, status)
            VALUE (#{user.loginId}, #{user.password}, #{user.email}, #{user.nickname}, 'USER', 'ACTIVATE')
    </insert>

    <update id="updateUser">
        UPDATE Users
        SET password    = #{user.newPassword},
            profile_img = NULLIF(#{user.profileImg}, ''),
            email       = #{user.email},
            nickname    = #{user.nickname}
        WHERE id = #{userId}
    </update>

    <!--  TOKEN START -->
    <update id="saveRefreshToken">
        update users
        set token = #{refreshToken}
        where id = #{userId}
    </update>

    <select id="getRefreshToken">
        select token
        from users
        where id = #{userId}
    </select>

    <update id="deleteRefreshToken">
        update users
        set token = ''
        where id = #{userId}
    </update>
    <!--  TOKEN END -->

    <select id="findUserByLoginId">
        SELECT id,
               login_id,
               password,
               email,
               profile_img,
               nickname,
               created_at,
               updated_at,
               role,
               status
        FROM Users
        WHERE login_id = #{loginId}
          AND status = 'ACTIVATE'
    </select>

    <select id="findUserByUserId">
        SELECT id,
               login_id,
               password,
               email,
               profile_img,
               nickname,
               created_at,
               updated_at,
               role,
               status
        FROM Users
        WHERE id = #{userId}
          AND status = 'ACTIVATE'
    </select>

    <!-- 아이디 중복 체크 -->
    <select id="checkDuplicatedLoginId">
        SELECT COUNT(*)
        FROM Users
        WHERE id = #{userId}
    </select>

    <!-- 닉네임 중복 체크 -->
    <select id="checkDuplicatedNickname">
        SELECT COUNT(*)
        FROM Users
        WHERE nickname = #{nickname}
    </select>

    <!-- 유저 비활성화 -->
    <update id="inactivateUser">
        UPDATE users
        SET status = 'INACTIVATE'
        WHERE id = #{user.id}
    </update>
</mapper>